*, *:after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}
body {
    background: #151718;
    font-family: Menlo, Consolas, monospace;
    font-size: 16px;
    line-height: 25px;
}
::-moz-selection {
    background: rgba(255, 255, 255, .15);
}
::selection {
    background: rgba(255, 255, 255, .15);
}
::-webkit-scrollbar {
    display: none;
}
.code, .code .line-count, .code .line-count span, .code .code-items, .code .code-items .code-item, .code .code-items .code-item .code-item-content, .code .code-items .code-item .code-item-content .code-item-line, .code .code-items .code-item.description-item .description-item-line {
    float: left;
}
.code, .code .line-count span, .code .code-items .code-item, .code .code-items .code-item .code-item-content, .code .code-items .code-item .code-item-content .code-item-line, .code .code-items .code-item.description-item .description-item-line {
    width: 100%;
}
.code .line-count {
    float: left;
    width: 60px;
    font-size: 14px;
}
.code .line-count span {
    padding-left: 10px;
    color: #404b53;
    background: #060708;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.code .code-items {
    width: calc(100% - 60px);
    float: left;
    padding-left: 10px;
}
.code .code-items .code-item {
    margin-bottom: 25px;
}
.code .code-items .code-item .directional-arrow {
    position: absolute;
    top: 7px;
    left: -30px;
    cursor: pointer;
    display: inline-block;
    background: #272F35;
    width: .5em;
    height: .65em;
    border-radius: 50px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.code .code-items .code-item .directional-arrow:before, .code .code-items .code-item .directional-arrow:after {
    display: inline-block;
    content: "";
    width: 0;
    height: 0em;
    border-style: solid;
    position: absolute;
}
.code .code-items .code-item .directional-arrow:before {
    left: 0;
    border-width: .35em 0 .35em .35em;
    border-color: transparent transparent transparent #060708;
}
.code .code-items .code-item .directional-arrow:after {
    right: 0;
    border-width: .35em 0 .35em .35em;
    border-color: #060708 transparent;
}
.code .code-items .code-item .directional-arrow:hover {
    background: #55b5db;
}
.code .code-items .code-item.close .directional-arrow {
    background: #ccc;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.code .code-items .code-item:after {
    content: "}";
    width: 100%;
    color: #d4d7d6;
}
.code .code-items .code-item .code-selection {
    width: 100%;
    float: left;
    color: #9fca56;
    white-space: nowrap;
}
.code .code-items .code-item .code-selection:before {
    content: ".";
    color: #858d8a;
}
.code .code-items .code-item .code-selection:after {
    content: "{";
    color: #d4d7d6;
    margin-left: 5px;
}
.code .code-items .code-item .code-selection.collapsed:after {
    content: '{...'
}
.code .code-items .code-item .code-item-content {
    padding-left: 40px;
    white-space: nowrap;
}
.code .code-items .code-item .code-item-content:before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    height: calc(100% - 6px);
    width: 1px;
    border-left: 1px solid rgba(245, 250, 255, 0.04);
}
.code .code-items .code-item .code-item-content .code-item-line .code-item-attr {
    color: #a074c4;
}
.code .code-items .code-item .code-item-content .code-item-line .code-item-attr:after {
    content: ": ";
    font-style: normal;
    color: #858d8a;
    margin-left: 2.5px;
}
.code .code-items .code-item .code-item-content .code-item-line .code-item-value, .code .code-items .code-item .code-item-content .code-item-line .code-item-value a {
    color: #cd3f45;
}
.code .code-items .code-item .code-item-content .code-item-line .code-item-value a:hover {
    background: rgba(255, 255, 255, .2);
}
.code .code-items .code-item .code-item-content .code-item-line .code-item-value:after, .code .code-items .code-item .code-item-content .code-item-line.value-content:after {
    content: ";";
    color: #858d8a;
}
.code .code-items .code-item .code-item-content .code-item-line.value-content .code-item-value {
    color: #55b5db;
}
.code .code-items .code-item .code-item-content .code-item-line.value-content .code-item-value:before, .code .code-items .code-item .code-item-content .code-item-line.value-content .code-item-value:after {
    content: '"';
    color: #55b5db;
}
.code .code-items .code-item .code-item-content .code-item-line.value-number .code-item-value {
    color: #cd3f45;
}
.code .code-items .code-item .code-item-content .code-item-line .code-item-value .value-number-percent {
    color: #9fca56;
}
.code .code-items .code-item.description-item .directional-arrow {
    display: none;
}
.code .code-items .code-item.description-item:after {
    content: "";
}
.code .code-items .code-item.description-item .description-item-line:before {
    content: "//";
    color: #d4d7d6;
}
.code .code-items .code-item.description-item .description-item-line {
    color: #858d8a;
    margin-bottom: 25px;
    white-space: nowrap;
}
@media screen and (max-width: 500px) {
    body{
        font-size: 13px;
    }
    .code .line-count{
        width: 50px;
        font-size: 11px;
    }
    .code .code-items{
        width: calc(100% - 50px);
    }
    .code .line-count span{
        padding-left: 5px;
    }
    .code .code-items .code-item .directional-arrow{
        top: 9px;
    }
}
