.sidebar{
    width: 20%;
    height: 100%;
    float: left;
    position: fixed;
    padding: 20px;
    background: #f5f5f5;
    border-top: 5px solid #404040;
    box-sizing: border-box;
    .logo{
        text-align: center;
        h1{
            margin: 0;
            font-size: 2em;
            font-weight: bold;
            color: #404040;
        }
        h3{
            margin: 0;
            letter-spacing: 4.5px;
            font-size: 1.4em;
            font-weight: 100;
            margin-top: -10px;
            color: #aaa;
        }
    }
    nav{
        list-style: none;
        font-size: 1.5em;
        li{
            a{
                color: #404040;
            }
        }
    }
    @extend %clearfix;
}

.wrapper{
    width: 80%;
    float: right;
    padding: 50px;
    background: #fff;
    box-sizing: border-box;
}

.content{

}
