html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  transition: background 1s ease, padding 1.5s linear;
  -webkit-transition: background 1s ease, padding 1.5s linear;
  -moz-transition: background 1s ease, padding 1.5s linear;
}

#cover{
	width: 100%;
	height: 100%;
	position: absolute;
	display: table;
}

#content{
	text-align: center;
	color: #FFF;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 3px;
	display: table-cell;
    vertical-align: middle;
}

#content .name{
	font-size: 7em;
	width: 100%;
}

#content .info{
    margin-left: -20%;
    font-size: 2.5em;
}

#typedtext{
	font-weight: bold;
	font-size: 2em;
}

#cursor{
	font-size: 2.5em;
	font-weight: bold;
}